html,body{
    background-color: red;
    margin:0;
}

.ramiro{
    background-color: fuchsia;
}
.test{
    background-color: blue;
}
h1{margin:0;}
.register{
    background-color: white;
    width: 100 vh;
    height: 100vh;
    text-align: center;
}
