html,body{
    background-color: white;
    margin:0;
    overflow: hidden;
}

.ramiro{
    background-color: fuchsia;
}
.test{
    background-color: white;

    height: 50vh;
    width: 100%;
}
h1{margin:0;}
.register{
    background-color: white;
    width: 100 vh;
    height: 100vh;
    text-align: center;
}
h2{margin:0;}
.list{
    height: calc(50vh - 64px);
    max-height: calc(50vh - 64px);
    overflow: auto;
}
.listMarker{
    height: 200px;
    width: 220px;
    overflow: auto;
}
.desc{
    font-size: small;
    margin-left: 10px;
    margin-right: 10px; 
}
.content{
    background-color: white;
    height: calc(100vh - 64px); 
    width: calc(100vw ); 
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
	background-color: green;
	height: 70vh;
	width: 50vh;
	.logoLogin{
	    background-color:white;
	    height: 15vh;
	    width: 48vh;
	    padding-left: 1.5%;
        padding-top: 1%;
	    img {
		height: 25vh;
		display: block;
		max-height:25vh;
        height: auto;
        margin-bottom:20vh
	    }
	}
	.work{
	    height:35vh;

	}
    }
}

.pedra{
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    .coin{
	width: 30px;
    height: 30px;
    

    }
    .price{
	font-weight: 900;
	font-size: medium;
	width: 30px;
	height: 30px;
    margin-top: 16px;
    margin-left: 8px;
    }

}
.pedraMarker{
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    .coinMarker{
	max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;    

    }
    .priceMarker{
	font-weight: 900;
	font-size: medium;
	width: 30px;
	height: 30px;
    margin-top: 40px;
    margin-left: 3px;
    }

}
.profile{
    height: calc(100vh - 64px);
}
.profilePhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    div {
	width:25vh!important;
	height:25vh;
    }

}

.IconMap{
    float: right;
    size: 50;
    margin-right:10%; 
}