html,body{
    background-color: white;
    margin:0;
    overflow: hidden;
}

.ramiro{
    background-color: fuchsia;
}
.test{
    background-color: white;

    height: 50vh;
    width: 100%;
}
h1{margin:0;}
.register{
    background-color: white;
    width: 100 vh;
    height: 100vh;
    text-align: center;
}
h2{margin:0;}
.list{
    height: calc(50vh - 64px);
    max-height: calc(50vh - 64px);
    overflow: auto;
}
.content{
    background-color: white;
    height: calc(100vh - 64px); 
    width: calc(100vw ); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    background-color: green;
    height: 50vh;
    width: 50vh;
}
.coin{
    width: 30px;
    height: 30px;

}
.price{
    width: 30px;
    height: 30px;

}
.logoLogin{
    background-color:white;
    height: 25vh;
    width: 48vh;
    padding-left: 1.5%;
    padding-top: 1%;
}
